*{
    box-sizing: border-box;
  }
  .goods-image{
    width: 400px;
    min-height: 400px;
    border:solid 1px #ddd;
    padding: 10px;
  }
  
  .goods-image img{
    width: 100%;
  }
  
  .small-images{
    overflow: hidden;
  }
  
  .small-images .item{
    width: 20%;
    float: left;
    padding: 5px;
  }
  
  .small-images img{
    border:solid 1px #ddd;
    padding: 5px;
  }
  
  .small-images .active{
    border:solid 1px rgb(40, 119, 197);
  }
  
  