/* 网页主体样式--所有都要使用 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* 网页头部的开始 */
/* #region */

/* 头部的导航 */
.header {
    height: 30px;
    background-color: #ececec;
}

/* 头部左侧导航 */
.header .header-left {
    line-height: 30px;
}

.header .header-left .welcome {
    font-size: 12px;
    margin-right: 28px;
}

.header .header-left .login {
    padding-right: 10px;
    font-weight: bold;
    border-right: 1px solid #666;
}

.header .header-left .register {
    padding-left: 10px;
    font-weight: bold;
}

/* 头部右侧导航 */
.header .header-right ul li {
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}

.header .header-right ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.header .header-right ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.header .header-right ul li:first-child a {
    padding-left: 0;
}

/* #endregion */
/* 网页头部的结尾 */

/* 搜索框-logo-start */
/* #region */

.nav-search {
    height: 120px;
}

.nav-search .search {
    margin: 42px 0;
}

/* 消除块元素之间的间距 */
.nav-search .search form {
    font-size: 0;
    height: 36px;
}

.nav-search .search form input {
    box-sizing: border-box;
    width: 510px;
    height: 36px;
    border: 1px solid #dd302d;
}

.nav-search .search form button {
    width: 80px;
    height: 36px;
    /*消除基线对齐的问题*/
    vertical-align: top;
    background-color: #dd302d;
    background-image: url(../images/assets/serch_icon.png);
    background-repeat: no-repeat;
    background-position: 28px 6px;

}

/* #endregion */
/* 搜索框-logo-end */


/* 商品分类导航 */
/* #region */
.products {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.products .type-of-products {
    width: 190px;
    height: 48px;

    background-color: #DD302D;
    text-align: center;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.products .product-list ul {
    line-height: 48px;
}

.products .product-list ul li {
    float: left;
    margin: 0 10px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.products .product-list ul li:last-child {
    margin-right: 0;
}
/* #endregion */
/* 商品分类导航结束 */

/* 主体内容--start */
/* #region */
.content {
    height: 458px;
    margin-top: 10px;
}


/* 左侧栏-start */
/* #region */
.content .left-aside {
    position: relative;
    box-sizing: border-box;
    width: 190px;
    height: 458px;
    margin-right: 10px;

    padding-top: 9px;
    background-color: #f4f4f4;
}

/* 二级菜单--start */
/* #region */
.content .left-aside .second-menu {
    display: none;
    position: absolute;
    left: 190px;
    top: 0;

    box-sizing: border-box;
    width: 700px;
    min-height: 458px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #E3E3E3;
}

.content .left-aside ul li {
    height: 20px;
    line-height: 20px;
    padding: 4px 0 4px 16px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.content .left-aside ul li:first-child {
    padding-top: 0;
}


.content .left-aside .second-menu dl dd, .content .left-aside .second-menu dl dt{
    float: left;
    font-size: 14px;
}

.content .left-aside .second-menu dl {
    height: 36px;
}

.content .left-aside .second-menu dl dt {
    width: 70px;
    height: 20px;
    color: #000;
    margin-right: 10px;
}

.content .left-aside .second-menu dl dd {
    padding: 0 10px;
    color: #666;
    border-left: 1px #999 solid;
    font-weight: 500;
}

.content .left-aside .second-menu dl dd:last-child {
    padding-right: 0;
}

/* 二级菜单联动 */
.content .left-aside ul li:hover .second-menu{
    display: block;
}

.content .left-aside ul li:hover {
    background-color: #E3E3E3;
}
/* 二级菜单--end */


.content .rotation-chart {
    width: 690px;
    height: 458px;
    background-image: url(../images/assets/banner主图.png);
}


/* 左侧栏 */
/* #endregion */

/* #endregion */


.content .right-aside {
    width: 290px;
    height: 458px;
}
/* 右侧新闻栏 */
.content .right-aside .news {
    box-sizing: border-box;
    width: 290px;
    height: 158px;
    padding: 0 14px;
    border: 1px solid #d9d9d9;
}

.content .right-aside .news .title {
    /* 这里的高度 是直接从顶到分割线 */
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d9d9d9;
}

.content .right-aside .news .title span {
    font-size: 14px;
    color: #000;
}

.content .right-aside .news .title a {
    font-size: 12px;
}


.content .right-aside .news ul li {
    /* 高度计算 */
    /* 所有li是等高的 */
    /* 除开标题38px 以及分割线1px 那么还剩117px 等高除以4 为29.25px  */
    /* 117 再去减去 最后一个的下边距18px 约等于100 等分后为25px */
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
}

/* 右侧精灵图 */
.content .right-aside .sprites {
    box-sizing: border-box;
    width: 290px;
    height: 290px;
    margin-top: 10px;
    padding: 16px 16px 0 16px;
}

.content .right-aside .sprites ul {
    margin-bottom: 16px;
}

.content .right-aside .sprites ul li {
    float: left;
    height: 71px;
    width: 48px;
    margin-right: 22px;

    text-align: center;
}
.content .right-aside .sprites ul li:last-child {
    margin-right: 0;
}

.content .right-aside .sprites ul li div {
    width: 48px;
    height: 48px;
    background-image: url(../images/assets/精灵图-侧边功能.png);
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(1) div {
    background-position: 0 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(2) div {
    background-position: -48px 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(3) div {
    background-position: -96px 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(4) div {
    background-position: -144px 0;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(1) div {
    background-position: 0 -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(2) div {
    background-position: -48px -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(3) div {
    background-position: -96px -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(4) div {
    background-position: -144px -48px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(1) div {
    background-position: 0 -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(2) div {
    background-position: -48px -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(3) div {
    background-position: -96px -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(4) div {
    background-position: -144px -96px;
}

/* #endregion */
/* 主体内容--end */

/* 秒杀模块--start */
/* #region */
.seckill {
    height: 190px;
    margin-top: 10px;
}

.seckill ul li {
    float: left;
    margin-right: 10px;
}

.seckill ul li:last-child {
    margin-right: 0;
}

/* #endregion */
/* 秒杀模块--end */

/* 楼层模块--start */
/* #region */
.floor1 {
    margin-top: 48px;
}

/* 楼层上层 */
.floor1 .floor1-top{
    box-sizing: border-box;
    padding-bottom: 4px;
    border-bottom: 2px solid #dd302d;
}

.floor1 .floor1-top span {
    height: 30px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.floor1 .floor1-top ul {
    float: right;
    line-height: 34px;
}

.floor1 .floor1-top ul li {
    float: left;
    color: #666;
    font-size: 16px;
}

.floor1 .floor1-top ul li a {
    padding: 0 10px;
    border-right: 1px #666 solid;
}

.floor1 .floor1-top ul li:last-child a {
    padding-right: 0;
    border-right: none;
} 

.floor1 .floor1-top ul li:first-child a {
    padding-left: 0;
} 

/* 楼层下层 */
.floor1 .floor1_bottom div {
    float: left;
    height: 432px;
}

.floor1 .floor1_bottom .item1 {
    box-sizing: border-box;
    width: 230px;
    padding: 20px 20px 0 20px;
    background-color: #f4f4f4;
}

.floor1 .floor1_bottom .item1 .list{
    height: 108px;
    padding-bottom: 30px;
}


.floor1 .floor1_bottom .item1 ul li {
    padding-bottom: 3.5px;
    width: 90px;
    text-align: center;
    font-size: 16px;
    color: #666;
    border-bottom: 1px #d9d9d9 solid;
}

/* 奇数左浮动 */
.floor1 .floor1_bottom .item1 ul li:nth-of-type(2n+1) {
    float: left;
}


/* 偶数右浮动 */
.floor1 .floor1_bottom .item1 ul li:nth-of-type(2n) {
    float: right;
}


.floor1 .floor1_bottom .item2 {
    width: 340px;
    background-image: url(../images/assets/appliance_banner07.png);
}

.floor1 .floor1_bottom .item3 {
    width: 206px;
}

.floor1 .floor1_bottom .item3 img {
    border-bottom: 1px #e2e2e2 solid;
} 

.floor1 .floor1_bottom .item4 {
    box-sizing: border-box;
    width: 206px;
    border-left: 1px #e2e2e2 solid;
    border-right: 1px #e2e2e2 solid;
    background-image: url(../images/assets/冰箱.png);
}

.floor1 .floor1_bottom .item5 {
    width: 206px;
}

.floor1 .floor1_bottom .item5 img {
    border-bottom: 1px #e2e2e2 solid;
}

/* #endregion */
/* 楼层模块--end */


/* 页脚模块--start */
.footer {
    margin-top: 48px;
    height: 440px;
    background-color: #483E3E;
   
}

/* 页脚顶部 */
.footer .footer-top {
    box-sizing: border-box;
    height: 246px;
    border-bottom: 1px #584D4D solid;
}

.footer .footer-top ul {
    float: left;
    width: 190px;
    padding-top: 48px;
    padding-right: 10px;
}

.footer .footer-top ul:last-child {
    padding-right: 0;
}

.footer .footer-top ul li a {
    font-size: 14px;
    color: #FFFFFF;
}


/* 页脚下部 */
.footer .footer-bottom {
    text-align: center;
    margin-top: 47px;
}

.footer .footer-bottom ul {
    display: inline-block;
}

.footer .footer-bottom ul li {
    float: left;
}

.footer .footer-bottom ul li a {
    padding: 0 26px;
    font-size: 12px;
    color: #FFFFFF;
    border-right: 1px solid #d9d9d9;
}

.footer .footer-bottom ul li:last-child a {
    padding-right: 0;
    border-right: none;
}

.footer .footer-bottom ul li:first-child a {
    padding-left: 0;
}

.footer .footer-bottom div {
    width: 190px;
    height: 18px;
    margin: 10px auto 0 auto;
    font-size: 12px;
    color: #FFFFFF;
}

/* 页脚模块--end */