/*版心设计*/
.container {
    width: 1190px;
    margin: 0 auto;
}

/*header起始位置 --start*/
/* #region */
.header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ECECEC;
}

.header .container .header-left span{
    margin-right: 28px;
    font-size: 12px;
}

.header .container .header-left a {
    font-size: 12px;
    font-weight: bold;
}

.header .header-left .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}

.header .header-left .register {
    margin-left: 10px;
}

.header .header-right ul li {
    float: left;
    font-size: 12px;
}

.header .header-right ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.header .header-right ul li:first-child a {
    padding-left: 0;
}

.header .header-right ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

/*header的结束位置--start*/
/* #endregion */

/* nav-search的起始位置 ---start */
/* #region */
.nav-search {
    height: 120px;
}

/* form表单样式 */
.nav-search .nav-search-form {
    font-size: 0px;
    margin: 42px 0; 
}

/* 输入框样式 */
.nav-search .nav-search-form input {
    width: 510px;
    height: 34px;
    border: 1px solid #dd302d;
}

/* 搜索按钮样式 */
.nav-search .nav-search-form button {
    width: 80px;
    height: 36px;
    vertical-align: top;
    background-color: #dd302d;
    background-image: url(../images/assets/serch_icon.png);
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion */
/* nav-search的结尾位置 ---end */


/* nav的起始位置 */
/* #region */

.nav {
    height: 48px;
    border-bottom: 1px solid #dd302d;
}

/* 全部商品分类样式 */
.nav .nav-all-type {
    height: 48px;
    width: 190px;
    background-color: #dd302d;
}

.nav .nav-all-type span {
    display: inline-block;
    margin: 13px 48px 12px 46px;
    font-size: 16px;
    color: #fff;
}

/* 导航样式 */
.nav .nav-type-list ul li {
    float: left;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.nav .nav-type-list ul li a {
    margin: 0 10px;
}

.nav .nav-type-list ul li:last-child a {
    margin-right: 0;
}

/* #endregion */
/* nav的结束位置 */

/* content 主体内容的起始位置 */
/* #region */
.content {
    margin-top: 10px;
    height: 458px;
}

/* 左侧栏样式 */
.content .left-aside {
    position: relative;
    width: 190px;
    height: 458px;
    background-color: #f4f4f4;
    margin-right: 10px;
}

.content .left-aside ul {
    margin: 9px 0 9px 0px;
}

.content .left-aside ul li {
    /* padding-bottom: 8px; */
    height: 20px;
    padding: 4px 0 4px 16px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}

.content .left-aside ul li:last-child {
    margin-bottom: 0;
}

/* .content .left-aside ul li a {

} */

/* .content .left-aside ul li dl{ */

.second-menu {
    position: absolute;
    display: none;
    left: 190px;
    top: 0;
    padding-left: 20px;
    padding-top: 18px;
    width: 680px;
    min-height: 440px;
    background-color: #f4f4f4;
}

.second-menu dl {
    margin-bottom: 16px;
}

.second-menu dl dt {
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.second-menu dl dd {
    float: left;
    font-size: 14px;
    color: #666;
}

.second-menu dl dd a {
    padding: 0 10px;
    border-left: 1px solid #999;
}

.second-menu dl dd:last-child a {
    padding-right: 0;
}

.content .left-aside ul li:hover .second-menu {
    display: block;
}

.content .left-aside ul li:hover {
    background-color: #c6c2c2;
}




/* 轮播图 */
.content .content-swiper {
    width: 690px;
    height: 458px;
    background-image: url(../images/assets/banner主图.png);
}



/* 右侧栏 */
.content .right-aside {
    width: 290px;
    height: 458px;
}

/* 右侧栏新闻 */
.content .right-aside .news {
    width: 260px;
    height: 156px;
    /* 宽度 14 + 14 + 边框 1 + 1 */
    padding: 0 14px;
    border: 1px solid #d9d9d9;
}

.content .right-aside .news .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #d9d9d9;
}

.content .right-aside .news .title span {
    font-size: 14px;
    color: #000000;
    font-weight: bolder;
}

.content .right-aside .news ul li {
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    color: #666666;
}

/* 右侧精灵图 */
.content .right-aside .sprites {
    width: 258px;
    height: 274px;
    margin-top: 10px;
    padding: 16px 16px 0 16px;
}

.content .right-aside .sprites ul{
    margin-bottom: 16px;
}

.content .right-aside .sprites ul li {
    float: left;
    width: 48px;
    height: 71px;
    margin-right: 22px;
    text-align: center;
}

.content .right-aside .sprites ul li div{
    width: 48px;
    height: 48px;
    background-image: url(../images/assets/精灵图-侧边功能.png);
    background-repeat: no-repeat;
}

.content .right-aside .sprites ul li span {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(1) div {

    background-position: 0 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(2) div {
    background-position: -48px 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(3) div {
    background-position: -96px 0;
}

.content .right-aside .sprites ul:nth-child(1) li:nth-child(4) div {
    background-position: -144px 0;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(1) div {
    background-position: 0 -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(2) div {
    background-position: -48px -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(3) div {
    background-position: -96px -48px;
}

.content .right-aside .sprites ul:nth-child(2) li:nth-child(4) div {
    background-position: -144px -48px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(1) div {
    background-position: 0 -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(2) div {
    background-position: -48px -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(3) div {
    background-position: -96px -96px;
}

.content .right-aside .sprites ul:nth-child(3) li:nth-child(4) div {
    background-position: -144px -96px;
}

.content .right-aside .sprites ul li:last-child {
    margin-right: 0;
}
/* #endregion */
/* content 主体内容的结束位置 */


/* 秒杀内容开始位置 */
/* #region */
.seckill {
    height: 190px;
    margin-top: 10px;
}

.seckill ul li {
    float: left;
    margin-right: 11px;
}

.seckill ul li:last-child {
    margin-right: 0;
}
/* #endregion */
/* 秒杀内容结束位置 */


/* 楼层开始位置 */
/* #region */
.floor1 {
    margin-top: 48px;
}

.floor1 .floor_top {
    width: 1190px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor1 .floor_top span {
    float: left;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}


.floor1 .floor_top ul li {
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #666666;
}

.floor1 .floor_top ul li a {
    padding: 0 10px;
    border-right: 1px solid #666;
}

.floor1 .floor_top ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.floor1 .floor_top ul li:first-child a {
    padding-left: 0;
    color: #DD302D;
}

/* 楼层下半部分 */
.floor1 .floor_bottom div{
    float: left;
    height: 432px;
}

.floor1 .floor_bottom .item1 {
    width: 190px;
    height: 412px;
    /*内容对于盒子是有边距的*/
    padding: 20px 20px 0 20px;
    background-color: #F4F4F4 ;
}

.floor1 .floor_bottom .item1 ul {
    margin-bottom: 30px;
}

.floor1 .floor_bottom .item1 ul li {
    width: 90px;
    padding-bottom: 3.5px;
    font-size: 16px;
    color: #666666;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}
.floor1 .floor_bottom .item1 ul li:nth-of-type(2n) {
    float: right;
    /*padding-right: 13px;*/
}

.floor1 .floor_bottom .item1 ul li:nth-of-type(2n+1){
    float: left;
    /*padding-left: 13px;*/
}


.floor1 .floor_bottom .item2 {
    width: 340px;
    background-color: greenyellow;
}

/* .floor_bottom .item5 {
    float: right;
} */

.floor1 .floor_bottom .item3, .floor1 .floor_bottom .item4, .floor1 .floor_bottom .item5 {
    width: 206px;
    background-color: yellow;
}

.floor1 .floor_bottom .item4 {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.floor1 .floor_bottom .item3 img,.floor1 .floor_bottom .item4 img, .floor1 .floor_bottom .item5 img {
    border-bottom: 1px solid #e2e2e2;
}
/* #endregion */
/* 楼层结束位置 */

/* 页脚开始位置 */
/* #region */

.footer {
    height: 440px;
    margin-top: 49px;
    padding-top: 48px;
    background-color: #483E3E;
}

.footer .footer-top {
    height: 198px;
    border-bottom: 1px solid #584D4D;
}

.footer .footer-top ul li {
    float: left;
    margin-right: 10px;
    width: 190px;
}

.footer .footer-top ul li:last-child {
    margin-right: 0;
}

.footer .footer-top ul li dl dd {
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.footer .footer-bottom {
    margin-top: 47px;
    text-align: center;
}

.footer .footer-bottom ul {
    display: inline-block;
}

.footer .footer-bottom ul li {
    float: left;
}

.footer .footer-bottom ul li a {
    padding: 0 26px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid #d9d9d9;
}

.footer .footer-bottom ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.footer .footer-bottom ul li:first-child a {
    padding-left: 0;
}

.footer .copyright {
    width: 190px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}
/* #endregion */
/* 页脚结束位置 */