/* 网页主体样式--所有都要使用 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* 网页头部的开始 */
/* #region */

/* 头部的导航 */
.header {
    height: 30px;
    background-color: #ececec;
}

/* 头部左侧导航 */
.header .header-left {
    line-height: 30px;
}

.header .header-left .welcome {
    font-size: 12px;
    margin-right: 28px;
}

.header .header-left .login {
    padding-right: 10px;
    font-weight: bold;
    border-right: 1px solid #666;
}

.header .header-left .register {
    padding-left: 10px;
    font-weight: bold;
}

/* 头部右侧导航 */
.header .header-right ul li {
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}

.header .header-right ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.header .header-right ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.header .header-right ul li:first-child a {
    padding-left: 0;
}

/* #endregion */
/* 网页头部的结尾 */